<div class = "d-inline-flex p-2 m-4 flex-wrap w-100">
  <%@machines.each do |machine| %>
    <div class="card m-3" style="width: 18rem;">
      <%= link_to time_machine_path(machine) do %>
        <img src="https://images.unsplash.com/photo-1591360236494-e6557e5ffa25?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= machine.name.upcase %></h5>
        <p class="card-text">This time machine will take you to the future!</p>
        <%= link_to "More Information", time_machine_path(machine), class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
