.fit-image {
  background-size: 100%;
}


.background-purple {
  background-color: $purple;
}

.background-lightpurple {
  background-color: $light-purple;
}

.background-lightestpurple {
  background-color: $lightest-purple;
}

.background-darkpurple {
  background-color: $dark-purple;
}




.background-lightgradientpurple {
  background-image: radial-gradient($lightest-purple, $light-purple);
}


.text-darkpurple {
  color: $dark-purple;
}

.button-spacing {
  letter-spacing: 3px;
  font-family: monospace;
}

.machine-button {
  transition: all 0.1s ease-in-out;
}
.machine-button:hover {
  transform: scale(1.05);
  background-color:  $light-purple(175, 119, 213, 0.5);
}

.form-box-shadow{
  box-shadow: .05px .05px 5px #FFFFFF;
}

.form-border-color {
  border: 2px solid rgba(175, 119, 213, 0.5);
}
