// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-purple: #2d033b;
$purple: #810ca8;
$light-purple: #c147e9;
$lightest-purple: #e5b8f4;
