// Specific CSS for your home-page
/* Banner styles */
.banner {
  background: linear-gradient(135deg, #DDA8F3, #B89DD4);
  color: #1E1E1E;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
}
.wave-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.banner-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner .highlight {
  color: #2F2F2F;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #4A4A4A;
}

.cta-button {
  background-color: #1E1E1E;
  color: #FFFFFF;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
}

.cta-button:hover {
  background-color: #333333;
}

.how-steps{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
}
.how-it-works {
  background-color: #f8f8f8;
  padding: 40px 0;
  height: 500px;
}

.step {
  text-align: center;
  width: 30%;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #673ab7; /* Matching purple theme */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.circle span {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.step h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.step p {
  font-size: 14px;
  color: #666;
}
