.tm-sign-up {
  background-color: #F4F4F4;
  border-color: #810CA8;
  border-radius: 70px;
  color: #810CA8;
}

.tm-reset-pass {
  background-color: #F4F4F4;
  border-color: #810CA8;
  border-radius: 70px;
  color: #810CA8;
  display: inline-block; /* Ensure the button is treated as an inline-block element */
  padding: 10px 20px; /* Adjust the padding as needed */
}

.form-actions2 {
  text-align: center; /* This centers inline and inline-block elements like your button */
  margin-top: 20px; /* Adjust this margin as needed */
}

.forgot-pass-link {
  font-size: 14px; /* Adjust the font size as needed */
  color: #810CA8; /* Set the text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color transition on hover */
  margin: 30px 0px 0px 0px;
  padding: 6px;

  &:hover {
    color: #810CA8; /* Change color on hover (example color) */
    background-color: #F4F4F4;
    border-color: #810CA8;
    border-radius: 70px;
  }
}

.background-container {
  position: relative; /* Ensure the video container is correctly positioned */
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow */
}

.background-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.tm-log-in-txt {
  position: relative;
  z-index: 1;
  color: #810CA8;
  max-width: 400px;
  width: 100%;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(229, 184, 244, 0.5);
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 8px;
}
