// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.card{
  border: 2px solid $light-purple;
}
.card-body{
  color: $dark-purple;
}

.btn-primary {
  background: linear-gradient(45deg, #2D033B, #810CA8, #C147E9);
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #C147E9, #810CA8, #2D033B);
}

.btn-primary:focus, .btn-primary:active {
  box-shadow: none;
  outline: none;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}
