.navbar-lewagon {
  background: #FFFFFF;
  box-shadow:0 1px 2px $purple;
}

.nav-link-white {
  color:$purple;
  font-weight: 600;
  font-size: 18px;
  padding-right: 1rem;
  text-decoration: none;
}

.nav-item-white {
  margin-top: 0.4rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-title {
  color: #810CA8;
  font-weight: 700;
  font-family: 'Nunito', sans-serif; /* Apply the font */
  letter-spacing: 2px;
  text-decoration: none;
}

.middle-text{
  color: $purple;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}
.logospace{
  width: 40px;
  height: 40px;
}
.dropdown-item{
  color:$purple;
}

.avatar {
  width: 45px;  /* Adjust the width as needed */
  height: 45px; /* Adjust the height as needed */
}
