.navbar-lewagon {
  justify-content: space-between;
  background: #FFFFFF;
}

.nav-link-white {
  color:white;
  font-size: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

.nav-item-white {
  margin-top: 0.4rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
