.navbar-lewagon {
  background: #FFFFFF;
  margin-bottom: 20px;
  box-shadow:0 1px 2px $light-purple;
}

.nav-link-white {
  color:$dark-purple;
  font-size: 18px;
  padding-right: 1rem;
  text-decoration: none;
}

.nav-item-white {
  margin-top: 0.4rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-title{
  color: $dark-purple;
}
.middle-text{
  color: $dark-purple;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'MMC Regular', sans-serif;
}
.logospace{
  width: 40px;
  height: 40px;
}
.dropdown-item{
  color:$purple;
}
